[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-dotenv = "*"
selenium = "*"
pyinstaller = "*"
pyyaml = "*"
pystray = "*"
Pillow = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
