[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-webhook = "*"
pymongo = "*"
requests = "*"
webdriver-manager = "*"
pytz = "*"
facebook-sdk = "*"
beautifulsoup4 = "*"
linkedin-api-client = "*"
requests-oauthlib = "*"
python-dotenv = "*"
tweepy = "==4.9.0"
aiofiles = "*"
selenium = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
